#app {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

#game-view {
	position: absolute;
	top: 10px;
	left: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-content: center;
}
