$screen-width: 1137px;
$screen-height: 640px;
$color-background: #060b17;
$color-text: #eef;

@font-face {
	font-family: 'Pixel';
	src: url('assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

#app {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	color: $color-text;
	font-family: 'Pixel';
}

#game-view {
	position: absolute;
	top: 10px;
	left: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: $screen-width;
	height: $screen-height;
	background: $color-background;
	text-align: center;
}

.column {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

h1 {
	font-size: 36px;
}

button {
	font-size: 24px;
	font-family: 'Pixel';
	padding: 10px 40px;
	border: none;
	background: transparent;
	color: $color-text;
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
	color: darken($color-text, 10%);
}
